

<p>
  <strong>Mobile:</strong>
  <%= @all_mobile.mobile %>
</p>

<p>
  <strong>Client:</strong>
  <%= @all_mobile.client_id %>
</p>

<%= link_to 'Edit', edit_all_mobile_path(@all_mobile) %> |
<%= link_to 'Back', all_mobiles_path %>
