<div class="container-fluid">
<div class="main-heading">
<h1>Editing Invoice</h1>
</div>
<div class="main-heading-body">
<%= render 'form' %>

<%#= link_to 'Show', @invoice %> 
<%#= link_to 'Back', invoices_path %>
</div>
</div>