<div class="container-fluid">
<div class="main-heading">
<h1>Edit Case Type</h1>
</div>
<div class="main-heading-body">
<%= render 'form' %>
</div>
<%#= link_to 'Show', @case_type %> 
<%#= link_to 'Back', case_types_path %>
</div>
