<div class="container-fluid">

<div class="client-cases-edit">
	<h1>Editing Client Case</h1>
</div>

<%= render 'form' %>

<%#= link_to 'Show', @client_case %> 
<%#= link_to 'Back', client_cases_path %>
</div>